<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/header.ejs')%>
</head>
<body  >
    
    <%-include('../partials/navbar.ejs')%>

    <div class="conteudo" >
        <div class="container" >
            <!-- <h3>Reboque escolhido</h3> -->
            <form action="/pagamento/realizado" method="POST">
                <div class="lista-reboques">
                
                    

                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">
                            <h3 class="card-title">Escaneie o QR Code para finalizar a reserva</h3>
                            <img src="/img/<%=qrCode%>" class="card-img-top" alt="...">
                        </div>
                        <input type="hidden" id="idPagamento" name="idPagamento" value="<%= idPagamento %>">
                        <p style="margin: 0.5rem;" >
                            <input class="btn btn-primary" type="submit" value="Escanear QR Code">
                        </p>
                    </div>

                    

                
                </div>
            </form>
        </div>
    </div>



    <%-include('../partials/footer.ejs')%>
</body>
</html>