<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%-include('../partials/header.ejs')%>
</head>
<body  >
    
    <%-include('../partials/navbar.ejs')%>

    <div class="conteudo" >
        <div class="container" >
            <!-- <h3>Reboque escolhido</h3> -->
            <form action="/pagamento/realizado" method="POST">
                <div class="lista-reboques">
                
                    

                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">
                            <h3 class="card-title">Escaneie o QR Code para finalizar a reserva</h3>
                            <div id="imageContainer"></div>
                        </div>
                        <input type="hidden" id="idPagamento" name="idPagamento" value="<%= idPagamento %>">
                        <input type="hidden" id="id_cobranca" name="id_cobranca" value="<%= id_cobranca %>">
                        <p style="margin: 0.5rem;" >
                            <input class="btn btn-primary" type="submit" value="Verificar Pagamento">
                        </p>
                    </div>

                    

                
                </div>
            </form>
        </div>
    </div>



    <%-include('../partials/footer.ejs')%>

    <script>
        const input_id_cobranca = document.getElementById('id_cobranca')
        // console.log(input_id_cobranca.value);
        const enviarRequisicao = async () => {
            try {
                const resposta = await fetch('https://reboquesoliveira.com/pagamento/aprovado', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ codigoPagamento: input_id_cobranca.value })
                });

                const resultado = await resposta.json();

                // Verifica se a resposta é verdadeira (aprovada)
                if (resultado.aprovado) {
                    // Redireciona para a página de sucesso
                    window.location.href = '/pagamento/realizado';
                }
            } catch (erro) {
                console.error('Erro ao enviar requisição:', erro);
            }
        };

        setInterval(enviarRequisicao, 3000);
    </script>



    <script>
        // Decodifica e exibe a imagem
        window.onload = function() {
            const encodedImage = '<%= image %>'; // Obtém a imagem codificada do servidor
            const imageContainer = document.getElementById('imageContainer');
            const img = document.createElement('img');
            img.src = 'data:image/jpeg;base64,' + encodedImage; // Decodifica a imagem e define o src
            imageContainer.appendChild(img);
        };
    </script>
</body>
</html>