<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%-include('../partials/header.ejs')%>
    <script src="/js/API_verificaPagamento.js" ></script>
    <script src="/js/renderizaImagemQRCode.js"></script>
</head>
<body  >
    
    <%-include('../partials/navbar.ejs')%>

    <div class="conteudo" >
        <div class="container" >
            <!-- <h3>Reboque escolhido</h3> -->
            <form action="/pagamento/realizado" method="POST">
                <div class="lista-reboques">

                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">
                            <h3 class="card-title">Escaneie o QR Code para finalizar a reserva</h3>
                            <div id="imageContainer">
                                <img id="qrCodeImage" src="" alt="QR Code">
                                <input type="hidden" id="codigoHexaImagem" name="codigoHexaImagem" value="<%=image%>">
                            </div>
                        </div>
                        <input type="hidden" id="idPagamento" name="idPagamento" value="<%= idPagamento %>">
                        <input type="hidden" id="id_cobranca" name="id_cobranca" value="<%= id_cobranca %>">
                        <p style="margin: 0.5rem;" >
                            <input class="btn btn-primary" type="submit" value="Verificar Pagamento">
                        </p>
                    </div>
                
                </div>
            </form>
        </div>
    </div>

    <%-include('../partials/footer.ejs')%>

</body>
</html>