<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%-include('../partials/header.ejs')%>
    <script src="/js/API_verificaPagamento.js" ></script>
    <script src="/js/renderizaImagemQRCode.js"></script>
</head>
<body  >
    
    <%-include('../partials/navbar.ejs')%>

    <div class="conteudo" >
        <div class="container" >
            <!-- <h3>Reboque escolhido</h3> -->

            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4" >Não escanear QR code!</h1>
                <!-- <p class="lead">Clientes cadastrados podem ver seu histórico de locações, gerenciar suas reservas e receber -->
                    <!-- descontos.</p> -->
            </div>
            

                <div class="lista-reboques">

                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">

                            <% if(formaPagamento == 'DINHEIRO') { %>
                                <div class="alert alert-success">
                                    <strong>Sucesso!</strong>
                                    Sua reserva será confirmada pelo administrador.
                                    Informe o seu nome completo pelo WhatsApp (53) 9 9703 2373 ou 
                                    E-mail uilhamgoncalves@agmail.com para aprová-la.
                                </div>
                            <% } %>

                            <div class="alert alert-info">
                                <strong>Atenção!</strong>
                                O administrador recebeu por email o pedido de sua reserva, a qual será aprovada por ele.
                            </div>
                            
                            <h3 class="card-title"><strong>Não escanear</strong></h3>
                            
                            <div id="imageContainer">
                                <img class="img-fluid" id="qrCodeImage" src="" alt="QR Code">
                                <input type="hidden" id="codigoHexaImagem" name="codigoHexaImagem" value="<%=image%>">
                            </div>
                        
                            <input type="hidden" id="PIXCopiaECola" name="PIXCopiaECola" value="<%= PIXCopiaECola %>">
                            <input type="hidden" id="id_cobranca" name="id_cobranca" value="<%= id_cobranca %>">
                            <input type="hidden" id="formaPagamento" name="formaPagamento" value="<%= formaPagamento %>">

                            
                            <p style="margin: 0.5rem;" >
                                <button class="btn btn-primary" id="copyPIXButton" >PIX Copia e cola</button>
                            </p>
    
                        </div>
                    </div>
                
                </div>
        </div>
    </div>

    <%-include('../partials/footer.ejs')%>

</body>
</html>