<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../partials/header.ejs')%>
</head>
<body>
    <%-include('../../partials/navbaradmin.ejs')%>
    <div class="conteudo" >
        
        <div class="container" >
            <br>
            <div class="d-flex justify-content-start">
                <h3 class="display-4">Relatório Histórico</h3>
            </div>
            
            <form action="/reserva/admin/historico" method="POST">

                <div class="row g-3">
                        <input class="btn btn-primary d-flex" type="submit" value="Filtrar">
                    <div class="col">
                        <span class="input-group-text" >Data de início</span>
                        <input class="form-control" id="dataInicio" type="date" name="dataInicio" required>
                    </div>
                    <div class="col">
                        <span class="input-group-text" >Data de fim</span>
                        <input class="form-control" id="dataFim" type="date" name="dataFim" required>
                    </div>
                    
                </div>
            
            </form><br>
        
            <div class="table-responsive">
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Reboque</th>
                            <th>Diária</th>
                            <th>Saída/Hora</th>
                            <th>Chegada/Hora</th>
                            <th>Tempo</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% reservas.forEach(function(reserva){%>
                            <tr>
                                <td><%=reserva.cliente.nome%></td>
                                <td><%=reserva.reboque.placa%></td>
                                <td>R$ <%=reserva.valorDiaria%>,00</td>
                                <td><%=new Date(reserva.dataSaida).toLocaleDateString('pt-BR').slice(0, 8)%> - 
                                    <%=new Date(reserva.dataSaida).toString().slice(16,21)+"hs"%></td>
                                <td><%=new Date(reserva.dataChegada).toLocaleDateString('pt-BR').slice(0, 8)%> - 
                                    <%=new Date(reserva.dataChegada).toString().slice(16,21)+'hs'%></td>
                                <td><%=reserva.diarias%> dias</td>
                                <td>R$ <%=reserva.pagamento.valor%></td>
                                <td><a href="/reserva/admin/excluir/<%=reserva.id%>" class="fas fa-trash" style="color: black;"
                                    ata-toggle="tooltip" title="Excluir reserva"
                                    onclick="return confirm('Confirma a exclusão?')" ></a></td>
                            </tr>
                        <%})%>
                    </tbody>

                </table>
            </div>

        </div>
        
    </div>
    <%-include('../../partials/footer'); %>
    <script>
        const inputDateInicio = document.getElementById('dataInicio');
        const inputDateFim = document.getElementById('dataFim');
        
        const dataAtual = new Date();
        
        const primeiroDiaMes = new Date(dataAtual.getFullYear(), dataAtual.getMonth(), 1);
        const ontem = new Date(dataAtual.getFullYear(), dataAtual.getMonth(), dataAtual.getDate() - 1);
        
        const dataFormatadaInicio = primeiroDiaMes.toISOString().slice(0, 10);
        const dataFormatadaFim = ontem.toISOString().slice(0, 10);
        
        inputDateInicio.value = dataFormatadaInicio;
        inputDateFim.value = dataFormatadaFim;
    </script>
</body>
</html>