<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/header.ejs')%>
</head>
<body  >
    <%-include('./partials/navbar.ejs')%>

    <div class="conteudo">
        
        <!-- Menssagem do topo da página em jumbotron -->


        <% if(user == '') { %>
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4" >Cadastre-se para receber descontos!</h1>
            <small class="form-text text-muted">Clientes cadastrados podem ver seu histórico de locações, gerenciar suas reservas e receber descontos.</small>
            <h3 class="mt-4" >Clique em <a href="/cliente/entrar"> entrar </a> ou <a href="/cliente/novo">cadastrar-se</a> para criar uma conta.</h3>
        </div>
        <% } else { %>
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4" >Bem-Vindo, <%=user.nome%>!</h1>
            <small class="form-text text-muted">Clientes cadastrados podem ver seu histórico de locações, gerenciar suas reservas e receber descontos.</small>

            </div>
        <% } %>
    </div>
        <div class="container" >

            <!-- Conteúdo de cada card -->
            <div class="lista-reboques">
                <% reboques.forEach(function(reboque){ %>
                    <div class="card card-index">
                        <a href="/reserva/cliente/periodo/<%=reboque.placa%>">
                            <img class="card-img-top" src="<%=reboque.foto%>" alt="Reboque 1">
                        </a>
                        <div class="card-body">
                            <div class="titulo">
                                <h3>
                                    <a href="/reserva/cliente/periodo/<%=reboque.placa%>">
                                        <div class="ano"><%=reboque.anoFabricacao%></div>
                                        <div class="primeiro-nome"><%=reboque.modelo%></div>
                                        <div  class="ultimo-nome">Carga</div>
                                    </a>
                                </h3>
                            </div>

                            <div class="price2-col word-price">
                                <div class="truncate">
                                    <p class="info-cost2 lato-black">R$ <%=reboque.valorDiaria%>,00</p>

                                </div>
                            </div>
                            <div class="opicionais">
                                <div class="box-opicionais-home">
                                    <div>
                                        <svg class="dark-fill" width="18" height="18" version="1.1" id="Camada_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 595.3 841.9" style="enable-background:new 0 0 595.3 841.9;" xml:space="preserve">
                                            <g id="Camada_x0020_1">
                                                <g id="_2578759726192">
                                                    <g>
                                                        <path class="st0" d="M520.9,574.3V420.9V267.5c28.8-10.3,49.6-37.5,49.6-69.8c0-41-33.4-74.4-74.4-74.4s-74.4,33.4-74.4,74.4     c0,32.3,20.8,59.6,49.6,69.8v128.6H322.4V267.5c28.8-10.3,49.6-37.5,49.6-69.8c0-41-33.4-74.4-74.4-74.4s-74.4,33.4-74.4,74.4     c0,32.3,20.8,59.6,49.6,69.8v128.6H124V267.5c28.8-10.3,49.6-37.5,49.6-69.8c0-41-33.4-74.4-74.4-74.4s-74.4,33.4-74.4,74.4     c0,32.3,20.8,59.6,49.6,69.8l0,153.4c0,13.7,11.1,24.8,24.8,24.8h173.6v128.6c-28.8,10.3-49.6,37.6-49.6,69.8     c0,41,33.4,74.4,74.4,74.4s74.4-33.4,74.4-74.4c0-32.3-20.8-59.6-49.6-69.8V445.7h148.8v128.6c-28.8,10.3-49.6,37.6-49.6,69.8     c0,41,33.4,74.4,74.4,74.4s74.4-33.4,74.4-74.4C570.5,611.9,549.7,584.6,520.9,574.3L520.9,574.3z"></path>
                                                    </g>
                                                </g>											
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="text-none grey-text10">
                                        <%=reboque.comprimento%> X 
                                        <%=reboque.largura%> X 
                                        <%=reboque.altura%>
                                    </div>
                                </div>
                                <div class="box-opicionais-home">
                                    <div>
                                        <svg class="dark-fill" xmlns="https://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 24 24"><path d="M20.021 12.593c-.141-.427-.314-.844-.516-1.242l-2.454 1.106c.217.394.39.81.517 1.242l2.453-1.106zm-12.573-.903c.271-.354.58-.675.919-.957l-1.89-1.969c-.328.294-.637.615-.918.957l1.889 1.969zm1.715-1.515c.379-.221.781-.396 1.198-.523l-1.034-2.569c-.41.142-.812.318-1.198.524l1.034 2.568zm-2.759 3.616c.121-.435.288-.854.498-1.25l-2.469-1.066c-.197.403-.364.822-.498 1.25l2.469 1.066zm9.434-6.2c-.387-.205-.79-.379-1.2-.519l-1.024 2.573c.417.125.82.299 1.2.519l1.024-2.573zm2.601 2.13c-.282-.342-.59-.663-.918-.957l-1.89 1.969c.339.282.647.604.918.957l1.89-1.969zm-5.791-3.059c-.219-.018-.437-.026-.649-.026s-.431.009-.65.026v2.784c.216-.025.434-.038.65-.038.216 0 .434.012.649.038v-2.784zm-.648 14.338c-1.294 0-2.343-1.049-2.343-2.343 0-.883.489-1.652 1.21-2.051l1.133-5.606 1.133 5.605c.722.399 1.21 1.168 1.21 2.051 0 1.295-1.049 2.344-2.343 2.344zm12-6c0 2.184-.586 4.233-1.61 5.999l-1.736-1.003c.851-1.471 1.346-3.174 1.346-4.996 0-5.523-4.477-10-10-10s-10 4.477-10 10c0 1.822.495 3.525 1.346 4.996l-1.736 1.003c-1.024-1.766-1.61-3.815-1.61-5.999 0-6.617 5.383-12 12-12s12 5.383 12 12z"></path></svg>
                                    </div>
                                    <div class="text-none grey-text10"><%=reboque.pesoBruto%> Kg</div>
                                </div>
                                <div class="box-opicionais-home">
                                    <div>
                                        <svg class="dark-fill" xmlns="https://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 24 24"><path d="M12 0c-4.87 7.197-8 11.699-8 16.075 0 4.378 3.579 7.925 8 7.925s8-3.547 8-7.925c0-4.376-3.13-8.878-8-16.075zm-.027 5.12c.467.725 1.027 1.987 1.027 3.32 0 3.908-4 4.548-4 2.17 0-1.633 1.988-4.044 2.973-5.49z"></path></svg>
                                    </div>
                                    <div class="text-none grey-text10">Aberto</div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>

        </div>

    
    <%-include('./partials/footer.ejs')%>
    
</body>
</html>