<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/header.ejs')%>
</head>
<body  >
    <%-include('./partials/navbar.ejs')%>

    <div class="conteudo">
        
        <!-- Menssagem do topo da página em jumbotron -->


        <% if(user == '') { %>
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4" >Cadastre-se para receber descontos!</h1>
            <p class="lead">Receba descontos e acompanhe suas reservas se cadastrando</p>
            <h4>Clique em <a href="/login"> entrar </a> ou <a href="/cadastro">cadastrar-se</a> para criar uma conta.</h4>

            <!-- <p class="lead">Clientes cadastrados podem ver seu histórico de locações, gerenciar suas reservas e receber -->
                <!-- descontos.</p> -->
        </div>
        <% } else { %>
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4" >Bem-Vindo, <%=user.nome%>!</h1>
                <p class="lead">Você pode criar uma nova reserva ou ver suas reservas e locanções no menu esquerdo.</p>
                <p class="lead">As imagem foram tiradas da internet. São meramente ilustrativas.</p>
            </div>
        <% } %>
        
        <div class="container" >

            <!-- Conteúdo de cada card -->
            <div class="lista-reboques">
                <% reboques.forEach(function(reboque){ %>
                    <div class="card card-index" style="width: 18rem;">
                        <a href="/reserva/periodo/<%=reboque.id%>">
                            <img class="card-img-top" src="<%=reboque.foto%>" alt="Reboque 1">
                        </a>
                        <div class="card-body">
                          <h6 class="">Valor de cada diária: R$ <%=reboque.valorDiaria%>,00</h6>
                          <h6 class="">Tamanho: <%=reboque.comprimento%>cm x <%=reboque.largura%>cm x <%=reboque.altura%>cm</h6>
                          <h6 class="">Peso bruto suportado: <%=reboque.pesoBruto%> Kg</h6>
                          <hr>
                          <a href="/reserva/periodo/<%=reboque.id%>" class="btn btn-primary d-grid">Reserve agora</a>
                        </div>
                    </div>
                <% }) %>
            </div>

        </div>

    </div>
    <%-include('./partials/footer.ejs')%>
    
</body>
</html>