<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/header.ejs')%>
</head>
<body  >
    <%-include('./partials/navbar.ejs')%>

    <div class="conteudo">
        
        <!-- Menssagem do topo da página em jumbotron -->
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4" >Cadastre-se para receber descontos!</h1>
            <p class="lead">Clientes cadastrados podem ver seu histórico de locações, gerenciar suas reservas e receber
                descontos.</p>
        </div>
        
        <div class="container" >

            <!-- Conteúdo de cada card -->
            <div class="lista-reboques">
                <% reboques.forEach(function(reboque){ %>
                    <div class="card card-index" style="width: 18rem;">
                        <a href="/reserva/periodo/<%=reboque.id%>">
                            <img class="card-img-top" src="<%=reboque.foto%>" alt="Reboque 1">
                        </a>
                        <div class="card-body">
                          <h5 class="display-4"><%=reboque.modelo%></h5>
                          <h5 class="display-4">Diaria R$: <%=reboque.valorDiaria%>,00</h5>
                          <h5 class="display-4">Dimensões: <%=reboque.comprimento%> x <%=reboque.largura%> x <%=reboque.altura%></h5>
                          <h5 class="display-4">PBT: <%=reboque.pesoBruto%> Kg</h5>
                          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                <% }) %>
            </div>

        </div>

    </div>
    <%-include('./partials/footer.ejs')%>
    
</body>
</html>