<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/header.ejs')%>
</head>
<body  >
    <%-include('./partials/navbar.ejs')%>

    <div class="conteudo">
        
        <!-- Menssagem do topo da página em jumbotron -->
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4" >Cadastre-se para receber descontos!</h1>
            <p class="lead">Clientes cadastrados podem ver seu histórico de locações, gerenciar suas reservas e receber
                descontos.</p>
        </div>

        <!-- <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d358.32315593659564!2d-54.11436231243298!3d-31.304759722809663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x950675599b9b3737%3A0xb423eb4019c27cfd!2sAluguel%20de%20reboques!5e0!3m2!1spt-BR!2sbr!4v1715353455914!5m2!1spt-BR!2sbr" 
            width="450" 
            height="300" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe> -->
        
        <div class="container" >

            <!-- Conteúdo de cada card -->
            <div class="lista-reboques">
                <% reboques.forEach(function(reboque){ %>
                    <div class="card card-index" style="width: 18rem;">
                        <a href="/reserva/periodo/<%=reboque.id%>">
                            <img class="card-img-top" src="<%=reboque.foto%>" alt="Reboque 1">
                        </a>
                        <div class="card-body">
                          <h6 class="">Diaria R$: <%=reboque.valorDiaria%>,00</h6>
                          <h6 class="">Dimensões: <%=reboque.comprimento%> x <%=reboque.largura%> x <%=reboque.altura%></h6>
                          <h6 class="">PBT: <%=reboque.pesoBruto%> Kg</h6>
                          <hr>
                          <a href="/reserva/periodo/<%=reboque.id%>" class="btn btn-outline-success">Reserve agora</a>
                        </div>
                    </div>
                <% }) %>
            </div>

        </div>

    </div>
    <%-include('./partials/footer.ejs')%>
    
</body>
</html>