<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../partials/header.ejs')%>
</head>
<body>
    <%-include('../../partials/navbaradmin.ejs')%>
    <div class="conteudo" >

        <div class="container" >
            
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary me-md-2" href="/admin/cliente/novo">Novo Cliente</a>
            </div>
            <br>

            <div class="d-flex justify-content-start">
                <h3 class="display-4">Lista de Clientes</h3>
            </div>
            <br>

            <div class="table-responsive">
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Telefone</th>
                            <th>Endereço</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% clientes.forEach(function(cliente){%>
                            <tr>
                                <td><%=cliente.id%></td>
                                <td><%=cliente.nome%></td>
                                <td><%=cliente.cpf%></td>
                                <td><%=cliente.telefone%></td>
                                <td><%=cliente.endereco%></td>
                                <td><a href="/admin/cliente/editar/<%=cliente.cpf%>" class="fas fa-edit" style="color: black;" 
                                    ata-toggle="tooltip" title="Editar cliente" ></a></td>
                                <td><a href="/admin/cliente/excluir/<%=cliente.cpf%>" class="fas fa-trash" style="color: black;"
                                    ata-toggle="tooltip" title="Excluir cliente"
                                    onclick="return confirm('Confirma a exclusão?')" ></a></td>
                            </tr>
                        <%})%>
                    </tbody>

                </table>
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        <!-- Botão Anterior -->
                        <li class="page-item <%= paginaAtual === 1 ? 'disabled' : '' %>">
                            <a class="page-link" href="?page=<%= paginaAtual - 1 %>">Anterior</a>
                        </li>
                
                        <!-- Números de página -->
                        <% for(let i = 1; i <= totalPaginas; i++) { %>
                            <li class="page-item <%= i === paginaAtual ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                
                        <!-- Botão Próximo -->
                        <li class="page-item <%= paginaAtual === totalPaginas ? 'disabled' : '' %>">
                            <a class="page-link" href="?page=<%= paginaAtual + 1 %>">Próximo</a>
                        </li>
                    </ul>
                </div>
                
                
            </div>

            <% if(mensagem){ %>
                <div class="alert alert-danger">
                    <strong>Exclusão de registro!</strong> <%= mensagem %>
                </div>
            <% } %>

        </div>
    </div>

    <%-include('../../partials/footer'); %>

</body>
</html>