<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/header.ejs')%>
    <script src="/js/consome_viacep.js" ></script>
</head>
<body  >
    
    <%-include('../partials/navbar.ejs')%>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Autenticação do usuário</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="login">Login</label>
                        <input class="form-control" id="email" type="text" name="email" required>
                        <small class="form-text text-muted">Nunca informe seu login e senha para estranhos.</small>
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" id="senha" type="password" name="senha" required>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary direita" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    Cadastrar-se
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <input class="btn btn-primary" type="submit" value="Login">
                </form>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel2">Cadastro do Usuario</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/cadastro/salvar" method="POST">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" id="nome" type="text" name="nome" required>
                    </div>
                    <div class="form-group">
                        <label for="login">Login</label>
                        <input class="form-control" id="email" type="text" name="email" required>
                        <small class="form-text text-muted">Informe o seu e-mail como login.</small>
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" id="senha" type="password" name="senha" required>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
            </form>

          </div>
        </div>
    </div>


    <div class="conteudo" >
        <div class="container" >
            <!-- <h3>Reboque escolhido</h3> -->
            <!--  -->
            <form action="/pagamento/pagamento" method="POST">
                <div class="lista-reboques">



                    <div class="card card-reserva" style="width: 25rem;">
                        <img src="../<%=reboque.foto%>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tipo: <%=reboque.modelo%></h5>
                            <h5 class="card-text">Total R$: <%=valorTotalDaReserva%>,00</h5>
                            <h5 class="card-text">PBT: <%=reboque.pesoBruto%> Kg</h5>
                            <hr>
                            <h5 class="card-text">Data da Retirada: <%=dataInicio%></h5>
                            <h5 class="card-text">Data da Entrega: <%=dataFim%></h5>
                        </div>
                    </div>
            

                    <!-- Dados pessoais -->
                    <div class="card card-reserva" style="width: 25rem;">
                            <div class="card-body">
                                <h3 class="card-title">Preencha com seus dados</h3>
                                <hr>
                                <div class="form-group">
                                    <label for="nome">Nome</label>
                                    <input class="form-control" id="nome" type="text" name="nome">
                                </div>
                                <div class="form-group">
                                    <label for="cpf">Sobrenome</label>
                                    <input class="form-control" id="sobrenome" type="text" name="sobrenome">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" id="email" type="text" name="email" >
                                </div>
                                <div class="form-group">
                                    <label for="telefone">CPF</label>
                                    <input class="form-control" id="cpf" type="text" name="cpf" >
                                </div>
                                <div class="form-group">
                                    <label for="email">RG</label>
                                    <input class="form-control" id="rg" type="text" name="rg">
                                </div>
                                
                                <div class="form-group">
                                    <label for="cep">Telefone</label>
                                    <input class="form-control" id="telefone" type="text" name="telefone" >
                                </div> 
                                <div class="form-group">
                                    <label for="cep">Data de nascimento</label>
                                    <input class="form-control" id="dataNascimento" type="date" name="dataNascimento" >
                                </div> 
                                <p style="margin: 0.5rem;" >
                                    <input class="btn btn-primary" type="submit" value="Pagar com PIX">
                                </p>
                        </div>
                    </div>


                    <!-- Dados de endereço -->
                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">
                            <h3 class="card-title">Seu endereço</h3>
                            <hr>
                            <div class="form-group">
                                <label for="cep">CEP</label>
                                <input class="form-control" id="cep" type="text" name="cep" placeholder="Ex.: 96408560">
                            </div>
                            <div class="form-group">
                                <label for="logradouro">Logradouro</label>
                                <input class="form-control" id="logradouro" type="text" name="logradouro">
                            </div>
                            <div class="form-group">
                                <label for="complemento">Complemento</label>
                                <input class="form-control" id="complemento" type="text" name="complemento">
                            </div>
                            <div class="form-group">
                                <label for="bairro">Bairro</label>
                                <input class="form-control" id="bairro" type="text" name="bairro" >
                            </div>
                            <div class="form-group">
                                <label for="localidade">Cidade</label>
                                <input class="form-control" id="localidade" type="text" name="localidade">
                            </div>
                            <div class="form-group">
                                <label for="uf">Estado (UF)</label>
                                <input class="form-control" id="uf" type="text" name="uf">
                            </div>
                            
                            <div class="form-group">
                                <label for="numeroDaCasa">Número da Casa</label>
                                <input class="form-control" id="numeroDaCasa" type="text" name="numeroDaCasa" >
                            </div>
                            
                        </div>
                    </div>


                    <input type="hidden" id="idReboque" name="idReboque" value="<%=reboque.id%>">
                    <input type="hidden" id="dataInicio" name="dataInicio" value="<%=dataInicio%>">
                    <input type="hidden" id="dataFim" name="dataFim" value="<%=dataFim%>">
                    <input type="hidden" id="valorDiaria" name="valorDiaria" value="<%=reboque.valorDiaria%>">
                


                </div>
            </form>
            <!--  -->
        </div>
    </div>



    <%-include('../partials/footer.ejs')%>






</body>
</html>