<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/header.ejs') %>
</head>
<body>
    <%- include('../../partials/navbar.ejs') %>

    <div class="conteudo">

        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4">Detalhes da Reserva</h1>
        </div>

        <div class="container">
                <div class="lista-reboques">

                    <div class="card card-reserva" style="width: 25rem;">
                        <img src="../../../<%= reserva.reboque.foto %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-text"><%= reserva.reboque.descricao %></h5>
                        </div>
                    </div>


                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">

                            <h5 class="card-title"> <b>Informações</b></h5>
                            <hr>

                            <div class="input-group mb-3">
                                <span class="input-group-text" >Modelo</span>
                                <input class="form-control" id="inputModelo" type="text" name="inputModelo" value="<%=reserva.reboque.modelo%>" disabled>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" >Valor pago na diária</span>
                                <input class="form-control" id="inputValorPagoDiaria" type="text" name="inputValorPagoDiaria" value="R$ <%= ((reserva.valorDiaria).toFixed(2)).replace('.', ',') %>" disabled>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" >Início</span>
                                <input class="form-control" id="inputDataInicio" type="text" name="inputDataInicio" value="<%= new Date(reserva.dataSaida).toLocaleDateString('pt-BR') %>" disabled>
                                <span class="input-group-text" >Hora</span>
                                <input class="form-control" id="inputHoraInicio" type="text" name="inputHoraInicio" value="<%= new Date(reserva.dataSaida).toString().slice(16,21) %>" disabled>
                            
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" >Fim</span>
                                <input class="form-control" id="inputDataFim" type="text" name="inputDataFim" value="<%= new Date(reserva.dataChegada).toLocaleDateString('pt-BR') %>" disabled>
                                <span class="input-group-text" >Hora</span>
                                <input class="form-control" id="inputHoraInicio" type="text" name="inputHoraInicio" value="<%= new Date(reserva.dataChegada).toString().slice(16,21) %>" disabled>
                            
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" >Período</span>
                                <input class="form-control" id="inputQuantidadeDias" type="text" name="inputQuantidadeDias" value="<%= reserva.diarias %> dias" disabled>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" >Valor total da reserva</span>
                                <input class="form-control" id="inputQuantidadeDias" type="text" name="inputQuantidadeDias" value="R$ <%= ((reserva.valorDiaria * reserva.diarias).toFixed(2)).replace('.', ',') %>" disabled>
                            </div>

                            <div class="d-md-flex justify-content-center" style="margin: 0.5rem;">
                                <button style="margin: 0.3rem;" class="btn btn-secondary" type="button" onclick="history.back()">Voltar</button>
                                <% if(reserva.situacaoReserva == 'APROVADO' || reserva.situacaoReservaReserva == 'ADIADO') {%>
                                    <a style="margin: 0.3rem;" class="btn btn-primary" href="/reserva/cliente/editar/<%= reserva.id %>">Alterar período</a>
                                    <a style="margin: 0.3rem;" class="btn btn-danger" 
                                        onclick="return confirm('Este recurso está indisponível no momento')" 
                                        href="#">Guardar
                                    </a>
                                <% } %>
                            </div>
                            
                        </div>
                    </div>

                    
                </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>
</body>
</html>
