<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../partials/header.ejs')%>
</head>
<body>
    <%-include('../../partials/navbar.ejs')%>
    <div class="conteudo">

        <div class="container-responsive">
            <div class="conteudo">
                <div class="container">
                    <div class="lista-reboques">
                        <div class="card card-reserva" style="width: 40rem;">
                            <div class="card-body">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <a class="btn btn-primary me-md-2" href="/">Voltar</a>
                                </div>
                                <h3 class="display-4">Lista de Reservas</h3>
                                <br>
                                
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Reboque</th>
                                                <th>Início/Hora</th>
                                                <th>Fim/Hora</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% reservas.forEach(function(reserva) { %>
                                                <tr>
                                                    <td><%= reserva.reboque.placa %></td>
                                                    <td><span id="dataSaida"><%= new Date(reserva.dataSaida).toLocaleDateString('pt-BR').slice(0, 5) %> -
                                                        <%= new Date(reserva.dataSaida).toString().slice(16,18)+'h' %></span></td>
                                                    <td><span id="dataChegada"><%= new Date(reserva.dataChegada).toLocaleDateString('pt-BR').slice(0, 5) %> -
                                                        <%= new Date(reserva.dataChegada).toString().slice(16,18)+'h' %></span></td>
                                                    <td><%= reserva.situacaoReserva %></td>
                                                    <td><a href="/reserva/cliente/detalhe/<%= reserva.id %>" class="btn btn-primary">Detalhes</a></td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% if(mensagem != '') { %>
                <div class="alert alert-danger">
                    <strong><%= mensagem %></strong> 
                </div>
            <% } %>
        </div>
    </div>

    <%-include('../../partials/footer'); %>
</body>
</html>
