<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/header.ejs')%>
    <script src="/js/validaInputDataPeriodo.js" ></script>
</head>
<body  >
    
    <%-include('../partials/navbar.ejs')%>

    <div class="conteudo" >

            <!-- Menssagem do topo da página em jumbotron -->
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4" >Alterar data da reserva.</h1>
                <!-- <p class="lead">Clientes cadastrados podem ver seu histórico de locações, gerenciar suas reservas e receber -->
                    <!-- descontos.</p> -->
            </div>


        <div class="container" >
            <!-- <h3>Reboque escolhido</h3> -->
            <div class="lista-reboques">
                
                <div class="card card-reserva" style="width: 25rem;">
                    <img src="../../<%=reserva.reboque.foto%>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"> Tipo: <%=reserva.reboque.modelo%></h5>
                      <h5 class="card-text">Diária R$: <%=reserva.reboque.valorDiaria%>,00</h5>
                      <hr>
                      <h5 class="card-text"><%=reserva.reboque.descricao%></h5>
                    </div>
                </div>


                <div class="card card-reserva" style="width: 25rem;">
                    <div class="card-body">
                        <form class="needs-validation" novalidate action="/cliente/editarDataReserva" method="POST">
                            <h5>Alterar Período</h5>
                            <hr>

                            <div class="input-group mb-3">
                                <span class="input-group-text" >Data de Retirada</span>
                                <input class="form-control" id="dataInicio" type="date" name="dataInicioNova" required>
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    Verifique a data.
                                </div>
                            
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" >Data de Entrega</span>
                                <input class="form-control" id="dataFim" type="date" name="dataFimNova" required>
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    Verifique a data.
                                </div>
                            </div><br>                        
                            

                            <input type="hidden" name="diarias" value="<%=reserva.diarias%>" >
                            <input type="hidden" name="dataInicioAntiga" value="<%=reserva.dataSaida%>" >
                            <input type="hidden" name="dataFimAntiga" value="<%=reserva.dataChegada%>" >
                            <input type="hidden" name="reboquePlaca" value="<%=reboque.placa%>" >
                            <input type="hidden" name="idReserva" value="<%=reserva.id%>" >

                            <div class="d-md-flex justify-content-center" style="margin: 0.5rem;">
                                <button style="margin: 0.3rem;" class="btn btn-secondary" type="button" onclick="history.back()">Voltar</button>
                                <input style="margin: 0.3rem;" class="btn btn-primary" id="botao" type="submit" value="Finalizar">

                            </div>
                            
                            
                            <% if(mensagem){%>
                                <div class="alert alert-danger">
                                    <strong>Atenção!</strong>
                                    <%= mensagem %>
                                </div>
                            <% } %>

                        </form>
                    </div>
                </div>

                <divc class="card card-reserva" style="width: 25rem;">
                    <div class="card card-body">
                        <% if(reservas != '') {%>
                            <div class="alert alert-info">
                                <h5 class="card-text">Reservas deste reboque</h5>
                                <% reservas.forEach(function(reserva) { %>

                                    <!-- Ignora a reserva a ser alterada -->
                                        <p>
                                            <h6><b>Período: </b> de <span id="dataSaida"><%= new Date(reserva.dataSaida).toLocaleDateString('pt-BR') %>
                                            </span> à <span id="dataChegada"><%= new Date(reserva.dataChegada).toLocaleDateString('pt-BR') %></span></h6>
                                        </p>
    
                                <%})%>
                            </div>
                        <% } %>  
                    </div>
                </div>

            </div>
        </div>
    </div>

    <%-include('../partials/footer.ejs')%>
</body>
</html>