<!DOCTYPE html>
<html>
<head>
    <%-include('../partials/header'); %>
</head>
<body>
    <div class="container">
        <%- include ('../partials/navbar'); %>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Edição de um cliente</h3><br>
                <form action="/cliente/atualizar" method="POST">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" id="nome" type="text" name="nome"
                            placeholder="Informe o nome do cliente." value="<%=cliente.nome%>" required>
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input class="form-control" id="cpf" type="text" name="cpf"
                            placeholder="Informe o cpf do contato." value="<%=cliente.cpf%>" required>
                    </div>
                    <div class="form-group">
                        <label for="telefone">Telefone</label>
                        <input class="form-control" id="telefone" type="text" name="telefone"
                            value="<%=cliente.telefone%>">
                    </div>
                    <div class="form-group">
                        <label for="logradouro">Logradouro</label>
                        <input class="form-control" id="logradouro" type="text" name="logradouro"
                            value="<%=cliente.logradouro%>">
                    </div>
                    
                    <input type="hidden" name="id" value="<%=cliente.id%>">
                    <input class="btn btn-primary" type="submit" value="Atualizar">
                    <a href="/cliente/lista" class="btn btn-warning">Lista de clientes</a>
                </form>
            </div>
        </div>
    </div>
    <%-include('../partials/footer'); %>
</body>
</html>