<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/header.ejs')%>
</head>
<body  >
    
    <%-include('../partials/navbar.ejs')%>


    <div class="conteudo" >
        <div class="container" >
            <!-- <h3>Reboque escolhido</h3> -->
            <form action="/pagamento/qrcode" method="POST">
                <div class="lista-reboques">
                

                    <!-- Card do reboque -->
                    <div class="card card-reserva" style="width: 25rem;">
                        <img src="../../<%=reboque.foto%>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-text">Total R$: <%=valorTotalDaReserva%>,00</h5>
                            <h5 class="card-text">PBT: <%=reboque.pesoBruto%> Kg</h5>
                            <hr>
                            <h5 class="card-text">Data Retirada: <%=reserva.dataInicio%></h5>
                            <h5 class="card-text">Data Entrega: <%=reserva.dataFim%></h5>
                        </div>
                    </div>


                    <!-- Dados de cadastro -->
                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">
                            <h3 class="card-title">Dados do Cliente</h3>
                            <hr>
                            <div class="form-group">
                                <label for="nome_input">Nome</label>
                                <input class="form-control" id="nome_input" type="text" name="nome_input" value="<%=cliente.nome%>" disabled>
                            </div>
                            <div class="form-group">
                                <label for="sobrenome_input">Sobrenome</label>
                                <input class="form-control" id="sobrenome_input" type="text" name="sobrenome_input"value="<%=cliente.sobrenome%>" disabled>
                            </div>
                            <div class="form-group">
                                <label for="telefone_input">Telefone</label>
                                <input class="form-control" id="telefone_input" type="text" name="telefone_input" value="<%=cliente.telefone%>" disabled>
                            </div>
                            <div class="form-group">
                                <label for="email_input">Email</label>
                                <input class="form-control" id="email_input" type="email" name="email_input"value="<%=cliente.email%>" disabled>
                            </div>
                            <div class="form-group">
                                <label for="dataNascimento_input">Nascimento</label>
                                <input class="form-control" id="dataNascimento_input" type="date" name="dataNascimento_input"value="<%=cliente.dataNascimento%>" disabled>
                            </div>
                        </div>
                    </div>


                    <!-- Dados de Endereço -->
                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">
                            <h3 class="card-title">Endereço</h3>
                            <hr>
                            <div class="form-group">
                                <label for="logradouro_input">Nome da rua</label>
                                <input class="form-control" id="logradouro_input" type="text" name="logradouro_input"value="<%=cliente.logradouro%>" disabled>
                            </div>
                            <div class="form-group">
                                <label for="numeroDaCasa_input">Número da casa</label>
                                <input class="form-control" id="numeroDaCasa_input" type="text" name="numeroDaCasa_input"value="<%=cliente.numeroDaCasa%>" disabled>
                            </div>
                            <div class="form-group">
                                <label for="bairro_input">Bairro</label>
                                <input class="form-control" id="bairro_input" type="text" name="bairro_input"value="<%=cliente.bairro%>" disabled>
                            </div>
                            <div class="form-group">
                                <label for="cidade_input">Cidade</label>
                                <input class="form-control" id="cidade_input" type="text" name="cidade_input"value="<%=cliente.localidade%>" disabled>
                            </div>
                        </div>
                    </div>


                    <!-- dados da reserva -->
                    <input type="hidden" id="idReboque" name="idReboque" value="<%=reserva.idReboque%>">
                    <input type="hidden" id="dataInicio" name="dataInicio" value="<%=reserva.dataInicio%>">
                    <input type="hidden" id="dataFim" name="dataFim" value="<%=reserva.dataFim%>">
                    <input type="hidden" id="valorDiaria" name="valorDiaria" value="<%=reserva.valorDiaria%>">
                    <input type="hidden" id="valorTotalDaReserva" name="valorTotalDaReserva" value="<%=valorTotalDaReserva%>">

                    <!-- dados cliente -->
                    <input type="hidden" id="nome" name="nome" value="<%=cliente.nome%>">
                    <input type="hidden" id="sobrenome" name="sobrenome" value="<%=cliente.sobrenome%>">
                    <input type="hidden" id="email" name="email" value="<%=cliente.email%>">
                    <input type="hidden" id="cpf" name="cpf" value="<%=cliente.cpf%>">
                    <input type="hidden" id="rg" name="rg" value="<%=cliente.rg%>">
                    <input type="hidden" id="telefone" name="telefone" value="<%=cliente.telefone%>">
                    <input type="hidden" id="dataNascimento" name="dataNascimento" value="<%=cliente.dataNascimento%>">

                    <!-- dados endereço -->
                    <input type="hidden" id="logradouro" name="logradouro" value="<%=cliente.logradouro%>">
                    <input type="hidden" id="numeroDaCasa" name="numeroDaCasa" value="<%=cliente.numeroDaCasa%>">
                    <input type="hidden" id="bairro" name="bairro" value="<%=cliente.bairro%>">
                    <input type="hidden" id="localidade" name="localidade" value="<%=cliente.localidade%>">
                    <input type="hidden" id="uf" name="uf" value="<%=cliente.uf%>">
                    <input type="hidden" id="cep" name="cep" value="<%=cliente.cep%>">
                    <input type="hidden" id="complemento" name="complemento" value="<%=cliente.complemento%>">




                    <p style="margin: 0.5rem;" >
                        <input class="btn btn-primary" type="submit" value="Gerar QR Code">
                    </p>

                    

                
                </div>
            </form>
        </div>
    </div>



    <%-include('../partials/footer.ejs')%>
</body>
</html>