<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/header.ejs')%>
    <script src="/js/consome_viacep.js" ></script>
    <script src="/js/validaDadosFormulario.js" ></script>
</head>
<body  >
    
    <%-include('../partials/navbar.ejs')%>

    <div class="conteudo" >


        <!-- <% if (user == '') { %> -->

            <!-- Menssagem do topo da página em jumbotron -->
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4" >Informações do Cliente</h1>
                <!-- <p class="lead">Clientes cadastrados podem ver seu histórico de locações, gerenciar suas reservas e receber descontos.</p> -->
            </div>

        <!-- <% } %> -->


        <div class="container" >
            <!-- <h3>Reboque escolhido</h3> -->
            <!--  -->
            <form class="needs-validation" novalidate action="/reserva/confirmar" method="POST">
                <div class="lista-reboques">

                    <div class="card card-reserva" style="width: 25rem;">
                        <img src="../<%=reboque.foto%>" class="card-img-top" alt="...">
                    </div>

                    <!-- Dados pessoais -->
                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">
                            <h3 class="card-title">Informações Pessoais</h3>
                            <hr>

                            <div class="form-group">
                                <label for="nome">Nome completo</label>
                                <span class="text-danger"> * </span>
                                <input class="form-control" id="nome" type="text" name="nome" minlength="5" maxlength="50" required>
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalidNome" ></span>
                                </div>
                                
                            </div>

                            <div class="form-group">
                                <label for="cpf">CPF</label>
                                <span class="text-danger"> * </span>
                                <input class="form-control" id="cpf" type="text" name="cpf" minlength="14" maxlength="14" required>
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalidCPF" ></span>
                                </div>
                            </div>
                                                                                            
                            <div class="form-group">
                                <label for="telefone">Telefone</label>
                                <span class="text-danger"> * </span>
                                <input class="form-control" id="telefone" type="text" name="telefone" maxlength="15" placeholder="Ex.: 53997032373" required>
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalidTelefone" ></span>
                                </div>
                            </div> 

                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input class="form-control" id="email" type="email" name="email" maxlength="70" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
                                <div class="invalid-feedback">
                                    <span id="invalidEmail"></span>
                                </div>
                            </div> 
                            
                        </div>
                    </div>


                    <!-- Dados de endereço -->
                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">
                            <h3 class="card-title">Informções de Endereço</h3>
                            <hr>
                            
                            
                            
                            <div class="row g-3">
                                <div class="form-group col">
                                    <label for="cep">CEP</label>
                                    <span class="text-danger"> * </span>
                                    <input class="form-control" id="cep" type="text" name="cep" minlength="9" maxlength="9" placeholder="Ex.: 96408560" required>
                                    <div class="valid-feedback">
                                        <!-- Looks good! -->
                                    </div>
                                    <div class="invalid-feedback">
                                        <span id="invalidCep"></span>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label for="numeroDaCasa">Nº da casa</label>
                                    <span class="text-danger"> * </span>
                                    <input class="form-control" id="numeroDaCasa" type="text" name="numeroDaCasa" maxlength="5" required >
                                    <div class="valid-feedback">
                                        <!-- Looks good! -->
                                    </div>
                                    <div class="invalid-feedback">
                                        <span id="invalidNumeroDaCasa"></span>
                                    </div>
                                </div>
                            </div>
                           

                            <div class="form-group">
                                <label for="logradouro">Rua</label>
                                <span class="text-danger"> * </span>
                                <input class="form-control" id="logradouro" type="text" name="logradouro" placeholder="Ex.: Waltter Dias da Costa" minlength="2" maxlength="100" required>
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalidLogradouro"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="complemento">Complemento</label>
                                <input class="form-control" id="complemento" type="text" name="complemento" maxlength="200">
                                <div class="invalid-feedback">
                                    <span id="invalidComplento"></span>
                                </div>
                            </div>
                          
                            <div class="form-group">
                                <label for="localidade">Cidade</label>
                                <span class="text-danger"> * </span>
                                <input class="form-control" id="localidade" type="text" minlength="3" name="localidade" maxlength="50" required>
                                <div class="valid-feedback">
                                    <!-- Looks good! -->
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalidLocalidade"></span>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <!-- Dados de RESERVA -->
                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">
                            <h3 class="card-title">Informações do Período</h3>
                            <hr>

                            <div class="input-group mb-3">
                                <span class="input-group-text" >Data de Retirada</span>
                                <input class="form-control" id="dataInicio_input" type="text" name="dataInicio_input" value="<%=dataInicio.toString().slice(8,10)+'/'+dataInicio.toString().slice(5,7)+'/'+dataInicio.toString().slice(0,4)%>" disabled>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" >Data de Entrega</span>
                                <input class="form-control" id="dataFim_input" type="text" name="dataFim_input" value="<%=dataFim.toString().slice(8,10)+'/'+dataFim.toString().slice(5,7)+'/'+dataFim.toString().slice(0,4)%>" disabled>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" >Total R$</span>
                                <input class="form-control" id="dataFim_input" type="text" name="dataFim_input" value="<%=(valorTotalDaReserva.toFixed(2)).replace('.',',')%>" disabled>
                            </div>
                        
                        </div><br>
                    </div>


                    <!-- Informções de pagamento -->
                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">
                            
                            <h3 class="card-title">Informações do Pagamento</h3>
                            <hr>
                            <br>
                            <div class="form-check input-group">
                                <input class="form-check-input" type="radio" name="formaPagamento" id="formaPagamento" value="PIX" checked>
                                Pagar com PIX
                            </div>
                            <br>
                            <div class="form-check input-group">
                            <input class="form-check-input" type="radio" name="formaPagamento" id="formaPagamento" value="DINHEIRO">
                                Pagar com Dinheiro
                            </div>
                            <br>

                            <div>
                                <div class="alert alert-info">
                                    Economeze R$ 
                                    <%= ((valorTotalDaReserva-valorTotalDaReservaComDesconto).toFixed(2)).replace('.',',') %> 
                                    nesta reserva criando uma conta.                                
                                    <a class="btn btn-outline-primary" href="/cadastro"> Criar conta </a> 
                                </div>
                            </div>

                            <!-- <p style="margin: 0.5rem;" >
                                <input class="btn btn-primary validation" id="botao" type="submit" value="Confirmar">
                            </p> -->

                            <div class="d-flex justify-content-center" style="margin: 0.5rem;">
                                <button class="btn btn-secondary me-3" type="button" onclick="history.back()">Voltar</button>
                                <input class="btn btn-primary validation" id="botao" type="submit" value="Confirmar">
                            </div>

                            
                        </div>
                    </div>

                    <input type="hidden" id="reboquePlaca" name="reboquePlaca" value="<%=reboque.placa%>">
                    <input type="hidden" id="dataInicio" name="dataInicio" value="<%=dataInicio%>">
                    <input type="hidden" id="dataFim" name="dataFim" value="<%=dataFim%>">
                    <input type="hidden" id="valorDiaria" name="valorDiaria" value="<%=reboque.valorDiaria%>">
                    <input type="hidden" id="dias" name="dias" value="<%=dias%>">
                    <input type="hidden" id="valorTotalDaReserva" name="valorTotalDaReserva" value="<%=valorTotalDaReserva%>">
                    <input type="hidden" id="bairro" name="bairro" value="">
                    <input type="hidden" id="uf" name="uf" value="">

                </div>

            </form>

        </div>
    </div>

    <%-include('../partials/footer.ejs')%>

</body>
</html>