<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/header.ejs')%>
</head>
<body>
    <%-include('../partials/navbaradmin.ejs')%>
    <div class="conteudo">
        
        <div class="container">
            <br>
            <div class="d-flex justify-content-start">
                <h3 class="display-4">Relatório Receita</h3>
            </div>
        
            <form action="/reserva/filtrar" method="POST">

                <div class="row g-3">

                        <input class="btn btn-primary d-flex" type="submit" value="Filtrar">
                    <div class="col">
                        <span class="input-group-text" >Data de início</span>
                        <input class="form-control" id="dataInicio" type="date" name="dataInicio" required>
                    </div>
                    <div class="col">
                        <span class="input-group-text" >Data de fim</span>
                        <input class="form-control" id="dataFim" type="date" name="dataFim" required>
                    </div>
                    <div class="col">
                        <span class="input-group-text" >Receita</span>
                        <input class="form-control" id="total" type="numeric" name="total" value="R$ <%=lucroTotal%>,00" required>
                    </div>

                </div>
               
            </form><br>
        
            <div class="table-responsive">
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Placa</th>
                            <th>Modelo</th>
                            <th>Cor</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% reservas.forEach(function(reserva){%>
                            <tr>
                                <td><%=reserva.reboque.placa%></td>
                                <td><%=reserva.reboque.placa%></td>
                                <td><%=reserva.reboque.modelo%></td>
                                <td><%=reserva.reboque.cor%></td>
                                <td>R$ <%=reserva.valorTotal%>,00</td>
                            </tr>
                        <%})%>
                    </tbody>

                </table>
            </div>

        </div>

        
    </div>
        

    <%-include('../partials/footer'); %>

    <script>
        const inputDateInicio = document.getElementById('dataInicio');
        const inputDateFim = document.getElementById('dataFim');
        
        const dataAtual = new Date();
        
        const primeiroDiaMes = new Date(dataAtual.getFullYear(), dataAtual.getMonth(), 1);
        const ontem = new Date(dataAtual.getFullYear(), dataAtual.getMonth(), dataAtual.getDate() - 1);
        
        const dataFormatadaInicio = primeiroDiaMes.toISOString().slice(0, 10);
        const dataFormatadaFim = ontem.toISOString().slice(0, 10);
        
        inputDateInicio.value = dataFormatadaInicio;
        inputDateFim.value = dataFormatadaFim;
    </script>

</body>
</html>