<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../partials/header.ejs')%>
</head>

<body>
    <div class="container">
        <%-include('../partials/navbarReserva.ejs')%>
            <div class="card">
                <div class="card-body">
                    <h3>Criar Reserva</h3>
                    <form action="/reserva/salvar" method="POST">

                        <div class="form-group">
                            <label for="reboque">Reboque</label>
                            <select id="reboque" name="reboque" class="form-control">
                                <% reboques.forEach( function(reboque){%>
                                    <option value="<%=reboque.id%>"><%=reboque.placa%></option>
                                <%})%>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="cliente">Cliente</label>
                            <select id="cliente" name="cliente" class="form-control">
                                <% clientes.forEach( function(cliente){%>
                                    <option value="<%=cliente.id%>"><%=cliente.nome%></option>
                                <%})%>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="dataSaida">Data saída</label>
                            <input class="form-control" id="dataSaida" type="date" name="dataSaida">
                        </div>

                        <div class="form-group">
                            <label for="dataChegada">Data chegada</label>
                            <input class="form-control" id="dataChegada" type="date" name="dataChegada">
                        </div>

                        <div class="form-group">
                            <label for="valorDiaria">Diaria R$</label>
                            <input class="form-control" id="valorDiaria" type="number" name="valorDiaria"
                                placeholder="Informe o valor da diária do reboque." required>
                        </div>

                        <input class="btn btn-primary" type="submit" value="Salvar">
                        <a href="/reserva/lista" class="btn btn-warning">Lista de reservas</a>
                    </form>
                </div>

            </div>
            <% if(mensagem){%>
                <div class="alert alert-info">
                    <strong>Novo Registro!</strong>
                    <%= mensagem %>
                </div>
                <% }%>
    </div>
    <%-include('../partials/footer.ejs')%>
</body>

</html>