<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/header.ejs')%>
    <script src="/js/validaInputDataPeriodo.js" ></script>
</head>
<body  >
    
    <%-include('../partials/navbar.ejs')%>

    <div class="conteudo" >

        <% if (user == '') { %>
            <!-- Menssagem do topo da página em jumbotron -->
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4" >Cadastre-se para receber descontos!</h1>
                <p class="lead">Clientes cadastrados podem ver seu histórico de locações, gerenciar suas reservas e receber
                    descontos.</p>
            </div>
        <% } %>


        <div class="container" >
            <!-- <h3>Reboque escolhido</h3> -->
            
             <% if(user == '') {%>
            <form class="needs-validation" novalidate action="/reserva/dados-informa" method="POST">
            <% } else {%>
            <form class="needs-validation" novalidate action="/reserva/dados-confirma" method="POST">
            <% } %>
            
                <div class="lista-reboques">

                    <div class="card card-reserva" style="width: 25rem;">
                        <img src="../../<%=reboque.foto%>" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"> Tipo: <%=reboque.modelo%></h5>
                        <h5 class="card-text">Diária R$: <%=reboque.valorDiaria%>,00</h5>
                        <hr>
                        <h5 class="card-text"><%=reboque.descricao%></h5>
                        </div>
                    </div>

                    <div class="card card-reserva" style="width: 25rem;">
                        <div class="card-body">

                                <h5>Informe o periodo</h5>
                                <hr>

                                <% if(mensagem){%>
                                    <div class="alert alert-danger">
                                        <strong>Atenção!</strong>
                                        <%= mensagem %>
                                    </div>
                                <% } %>
                                
                                <div class="input-group mb-3 mt-5">
                                    <span class="input-group-text" >Data de Retirada</span>
                                    <input class="form-control" id="dataInicio" type="date" name="dataInicio" required>
                                    <div class="valid-feedback">
                                        <!-- Looks good! -->
                                    </div>
                                    <div class="invalid-feedback">
                                        Verifique a data.
                                    </div>
                                
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" >Data de Entrega</span>
                                    <input class="form-control" id="dataFim" type="date" name="dataFim" required>
                                    <div class="valid-feedback">
                                        <!-- Looks good! -->
                                    </div>
                                    <div class="invalid-feedback">
                                        Verifique a data.
                                    </div>
                                </div><br>

                                <% if(user != ''){ %>
                                <div class="form-check input-group">
                                    <input class="form-check-input" type="radio" name="formaPagamento" id="formaPagamento" value="PIX" checked>
                                    Pagar com PIX
                                </div>
                                <br>
                                <div class="form-check input-group">
                                    <input class="form-check-input" type="radio" name="formaPagamento" id="formaPagamento" value="DINHEIRO">
                                    Pagar com Dinheiro
                                </div>
                                <% } %>
                                
                                
                            

                        </div>

    
                        <div class="d-flex justify-content-center" style="margin: 0.5rem;">
                            <button class="btn btn-secondary me-3" type="button" onclick="history.back()">Voltar</button>
                            <input class="btn btn-primary" id="botao" type="submit" value="Próximo">
                        </div>

                    </div>


                    <% if(reservas != '') {%>
                        <div class="card card-reserva" style="width: 25rem;">
                            <div class="card-body">
    
                                <div class="alert alert-info">
                                    <h5 class="card-text">Indisponível para estas datas</h5>
                                    <% reservas.forEach(function(reserva) { %>
                                    <p>
                                        de <%=reserva.dataSaida.toString().slice(8,10)+'/'+reserva.dataSaida.toString().slice(5,7)+'/'+reserva.dataSaida.toString().slice(0,4)%> 
                                        à  <%=reserva.dataChegada.toString().slice(8,10)+'/'+reserva.dataChegada.toString().slice(5,7)+'/'+reserva.dataChegada.toString().slice(0,4)%>
                                        <%if(reserva.pagamento.aprovado == false) {%>
                                        | Pagamento pendente
                                        <% } %>
                                    </p>
        
                                    <%})%>
                                </div>
    
                            </div>
                        </div>
                    <% } %>


                </div>

                

                <input type="hidden" name="idReboque" value="<%=reboque.id%>" >

            </form>



        </div>
    </div>

    <%-include('../partials/footer.ejs')%>
</body>
</html>