<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../partials/header.ejs')%>
</head>
<body>
    <%-include('../../partials/navbaradmin.ejs')%>
    <div class="conteudo" >

        <div class="container-responsive" >
            
            <br>

            <div class="d-flex justify-content-start">
                <h3 class="display-4">Reservas</h3>
            </div>
            <br>
        
            <div class="table-responsive">
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <!-- <th>ID</th> -->
                            <th>Cliente</th>
                            <th>Reboque</th>
                            <th>Diária</th>
                            <th>Início/Hora</th>
                            <th>Fim/Hora</th>
                            <th>Situação</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% reservas.forEach(function(reserva){%>
                            <tr>
                                <!-- <td><%=reserva.pagamento.codigoPagamento%></td> -->
                                <td><%=reserva.cliente.nome%></td>
                                <td><%=reserva.reboque.placa%></td>
                                <td>R$ <%=((reserva.pagamento.valor/reserva.diarias).toFixed(2)).replace('.',',')%></td>
                                <td><%= new Date(reserva.dataSaida).toLocaleDateString('pt-BR').slice(0, 5) %> 
                                    <%= new Date(reserva.dataSaida).toString().slice(16,21) %></td>
                                <td><%= new Date(reserva.dataChegada).toLocaleDateString('pt-BR').slice(0, 5) %>
                                    <%= new Date(reserva.dataChegada).toString().slice(16,21) %></td>
                                <td><%=reserva.situacaoReserva%></td>
                                <td>R$ <%=reserva.pagamento.valor%></td>
                                <!-- <td>R$ <%=reserva.diarias*reserva.valorDiaria%>,00</td> -->
                                <% if(reserva.situacaoReserva == 'APROVADO') { %>
                                    <td><a href="/admin/reserva/situacao/<%=reserva.id%>/<%='APROVADO'%>" class="btn btn-success">Iniciar reserva</a></td>
                                <% } else if (reserva.situacaoReserva == 'ANDAMENTO') { %>
                                    <td><a href="/admin/reserva/situacao/<%=reserva.id%>/<%='ANDAMENTO'%>" class="btn btn-danger">Encerrar reserva</a></td>
                                <% } %>
                                
                                <% if(reserva.pagamento.aprovado == false){ %>
                                <td>
                                    <form action="/pagamento/recebeEmDinheiro" method="POST">
                                        <input type="hidden" id="codigoPagamento" name="codigoPagamento" value="<%=reserva.pagamento.codigoPagamento%>">
                                        <input type="hidden" id="valor" name="valor" value="<%=reserva.pagamento.valor%>">
                                        <!-- <input  class="btn btn-success" type="submit" value="Receber"> -->
                                        <input type="submit" class="btn btn-info" value="Receber">
                                    </form>
                                </td>
                                <% } %>
                                
                            </tr>
                        <%})%>
                    </tbody>

                </table>
            </div>

            <% if(mensagem){ %>
                <div class="alert alert-danger">
                    <strong>Exclusão de registro!</strong> <%= mensagem %>
                </div>
            <% } %>

        </div>
    </div>

    <%-include('../../partials/footer'); %>

</body>
</html>