<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/header.ejs')%>
</head>
<body  >
    
    <%-include('../partials/navbaradmin.ejs')%>

    <div class="conteudo" >

        <!-- Menssagem do topo da página em jumbotron -->
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4" >Confirme os dados da sua reserva.</h1>
            <!-- <p class="lead">Clientes cadastrados podem ver seu histórico de locações, gerenciar suas reservas e receber
                descontos.</p> -->
        </div>
    </div>

    <div class="container" >
        <!-- <h3>Reboque escolhido</h3> -->
        <form action="/reboque/finalizar" method="POST">
            <div class="lista-reboques">
            



                <!-- Dados de cadastro -->
                <div class="card card-reserva">
                    <div class="card-body">
                        <h3 class="card-title">Cliente</h3>
                        <hr>
                        <div class="form-group">
                            <label for="nome_input">Nome</label>
                            <input class="form-control" id="nome_input" type="text" name="nome_input" value="<%=cliente.nome%>" disabled>
                        </div>
                        <div class="form-group">
                            <label for="cpf_input">CPF</label>
                            <input class="form-control" id="cpf_input" type="text" name="cpf_input" value="<%=cliente.cpf%>" disabled>
                        </div>
                        
                        <div class="form-group">
                            <label for="telefone_input">Telefone</label>
                            <input class="form-control" id="telefone_input" type="text" name="telefone_input" value="<%=cliente.telefone%>" disabled>
                        </div>

                        <% if(cliente.email != '') { %>
                            <div class="form-group mb-3">
                                <label for="email_input">E-mail</label>
                                <input class="form-control" id="email_input" type="email" name="email_input" value="<%=cliente.email%>" disabled>
                            </div>
                        <% } %>
                        
                        
                        
                        
                    </div>
                </div>


                <!-- Dados de Endereço -->
                <div class="card card-reserva">
                    <div class="card-body">
                        <h3 class="card-title">Endereço</h3>
                        <hr>
                        <div class="form-group">
                            <label for="cep_input">CEP</label>
                            <input class="form-control" id="cep_input" type="text" name="cep_input"value="<%=cliente.cep%>" disabled>
                        </div>
                        <div class="form-group">
                            <label for="logradouro_input">Nome da rua</label>
                            <input class="form-control" id="logradouro_input" type="text" name="logradouro_input"value="<%=cliente.logradouro%>" disabled>
                        </div>
                        <div class="form-group">
                            <label for="numeroDaCasa_input">Número da casa</label>
                            <input class="form-control" id="numeroDaCasa_input" type="text" name="numeroDaCasa_input"value="<%=cliente.numero_da_casa%>" disabled>
                        </div>
                        
                        <div class="form-group">
                            <label for="cidade_input">Cidade</label>
                            <input class="form-control" id="cidade_input" type="text" name="cidade_input"value="<%=cliente.localidade%>" disabled>
                        </div>

                    </div>
                </div>


                <!-- Periodo -->
                <div class="card card-reserva" >
                    <div class="card-body">
                        <h3 class="card-title">Período</h3>
                        <hr>

                        
                        <div class="input-group mb-3">
                            <span class="input-group-text" >Início</span>
                            <input class="form-control" id="dataInicio_input" type="text" name="dataInicio_input" value="<%= new Date(reserva.dataInicio).toLocaleDateString('pt-BR').slice(0, 10) %>" disabled>
                            <span class="input-group-text" id="horaInicio_input" name="horaInicio_input"><%= new Date(reserva.dataInicio).toString().slice(16, 21) + 'hs' %></span>
                        
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" >Fim</span>
                            <input class="form-control" id="dataFim_input" type="text" name="dataFim_input" value="<%= new Date(reserva.dataFim).toLocaleDateString('pt-BR').slice(0, 10) %>" disabled>
                            <!-- <input class="form-control" id="horaFim_input" type="text" name="horaFim_input" value="<%= new Date(reserva.dataFim).toString().slice(16, 21) + 'hs' %>" disabled> -->
                            <span class="input-group-text" id="horaFim_input" name="horaFim_input"><%= new Date(reserva.dataFim).toString().slice(16, 21) + 'hs' %></span>
                        
                        </div>


                        <div class="input-group mb-3">
                            <span class="input-group-text" >Valor Total</span>
                            <input class="form-control" id="valorTotalDaReserva_input" type="text" name="valorTotalDaReserva_input" value="R$ <%=(reserva.valorTotalDaReserva.toFixed(2)).replace('.',',')%>" disabled>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" >Valor Diária</span>
                            <input class="form-control" id="valorTotalDaReserva_input" type="text" name="valorTotalDaReserva_input" value="R$ <%=((reserva.valorTotalDaReserva/reserva.dias).toFixed(2)).replace('.',',')%>" disabled>
                            <span class="input-group-text" id="horaInicio_input" name="horaInicio_input"><%= (reserva.dias).toString() %> Dias </span>

                        </div>


                        <% if(user != '') { %>
                        <div class="input-group mb-3">
                            <span class="input-group-text" >Desconto aplicado</span>
                            <input class="form-control" id="desconto_input" type="text" name="desconto_input" value="R$ <%=reserva.desconto.toFixed(2)%>" disabled>
                        </div>
                        <% } %>
                        <div class="input-group mb-3">
                            <span class="input-group-text" >Pagamento</span>
                            <input class="form-control" id="formaPagamento" type="text" name="formaPagamento" value="<%=reserva.formaPagamento%>" disabled>
                        </div>

                        <div class="d-flex justify-content-center mt-3  mb-3" >
                            <button class="btn btn-secondary me-3" type="button" onclick="history.back()">Voltar</button>
                            <input class="btn btn-primary" type="submit" value="Confirmar">
                        </div>
                        
                    </div>
                </div>

                <!-- dados da reserva -->
                <!-- Converte a reserva para JSON e escapa aspas para evitar problemas -->
                <input type="hidden" id="reservaStr" name="reservaStr" value='<%- JSON.stringify(reserva) %>'>

                <!-- dados cliente -->
                <!-- Converte a reserva para JSON e escapa aspas para evitar problemas -->
                <input type="hidden" id="clienteStr" name="clienteStr" value='<%- JSON.stringify(cliente) %>'>
            
            </div>
        </form>
    </div>



    <%-include('../partials/footer.ejs')%>
</body>
</html>