<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/header.ejs')%>
</head>
<body>
    <%-include('../partials/navbaradmin.ejs')%>
    <div class="conteudo" >

        <div class="container" >

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary me-md-2" href="/reboque/novo">Novo Reboque</a>
            </div>
            <br>



            <div class="d-flex justify-content-start">
                <h3 class="display-4">Lista de Reboques</h3>
            </div>
            <br>
            
            <div class="table-responsive">
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th>Placa</th>
                            <th>Modelo</th>
                            <th>Cor</th>
                            <th>Diária</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% reboques.forEach(function(reboque){%>
                            <tr>
                                <td><%=reboque.placa%></td>
                                <td><%=reboque.modelo%></td>
                                <td><%=reboque.cor%></td>
                                <td>R$ <%=reboque.valorDiaria%>,00</td>
                                <td><a href="/reboque/editar/<%=reboque.placa%>" class="fas fa-edit" style="color: black;" 
                                    ata-toggle="tooltip" title="Editar reboque" ></a></td>
                                <td><a href="/reboque/deletar/<%=reboque.placa%>" class="fas fa-trash" style="color: black;"
                                    ata-toggle="tooltip" title="Excluir reboque"
                                    onclick="return confirm('Confirma a exclusão?')" ></a></td>
                            </tr>
                        <%})%>
                    </tbody>

                </table>
            </div>





            <% if(mensagem){ %>
                <div class="alert alert-danger">
                    <strong>Exclusão de registro!</strong> <%= mensagem %>
                </div>
            <% } %>

        </div>
    </div>

    <%-include('../partials/footer'); %>

</body>
</html>