<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/header.ejs')%>
</head>
<body>
    <div class="container" >
        <%-include('../partials/navbarReboque.ejs')%>
        <h3>Reboques Cadastrados</h3>
        <a class="btn btn-primary" href="/reboque/novo">Novo Reboque</a><br><br>
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Placa</th>
                    <th>Modelo</th>
                    <th>Cor</th>
                    <th>Diária</th>
                </tr>
            </thead>
            <tbody>
                <% reboques.forEach(function(reboque){%>
                    <tr>
                        <td><%=reboque.id%></td>
                        <td><%=reboque.placa%></td>
                        <td><%=reboque.modelo%></td>
                        <td><%=reboque.cor%></td>
                        <td>R$ <%=reboque.valorDiaria%>,00</td>
                        <td><a href="/reboque/editar/<%=reboque.id%>" class="fas fa-edit" style="color: black;" 
                            ata-toggle="tooltip" title="Editar reboque" ></a></td>
                        <td><a href="/reboque/excluir/<%=reboque.id%>" class="fas fa-trash" style="color: black;"
                            ata-toggle="tooltip" title="Excluir reboque"
                            onclick="return confirm('Confirma a exclusão?')" ></a></td>
                    </tr>
                <%})%>
            </tbody>

        </table>
        <% if(mensagem){ %>
            <div class="alert alert-danger">
                <strong>Exclusão de registro!</strong> <%= mensagem %>
            </div>
        <% } %>

    </div>
    <%-include('../partials/footer'); %>

</body>
</html>