<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/header.ejs')%>
    <script src="/js/valida_hora_inicio_fim_periodo_reserva.js" ></script>
    <script src="/js/validaDadosFormulario.js" ></script>
    <script src="/js/flatpickr_periodo.js" ></script>
</head>
<body  >
    
    <%-include('../partials/navbar.ejs')%>

    <div  class="conteudo"></div>

    <div class="container" >
        <form class="needs-validation" novalidate action="/reboque/confirmar" method="POST">
        
            <div class="lista-reboques">
                <!-- Datas em que este reboque está indisponível -->
                <input type="hidden" id="reservas" value="<%= JSON.stringify(reservas) %>">

                <!-- testando o flatpickr -->
                <div class="card card-reserva">
                    <div class="card-body">
                        <h5>Informe o periodo</h5>
                        <hr>

                        
                        
                        <div class="input-group" >
                            <span class="input-group-text">Período</span>
                            <input class="calendario" id="dataIntervalo" type="text">
                        </div><br>

                        <div class="input-group">
                            <span class="input-group-text">Hora Retirada</span>
                            <select class="form-select  calendario" id="horaInicio" name="horaInicio" required>
                              <!-- Gera opções de 00 a 23 -->
                              <% for(let i = 8; i < 24; i++) { %>
                                <option value="<%= i %>"><%= i.toString().padStart(2, '0')+':00' %></option>
                              <% } %>
                            </select>
                            <div class="valid-feedback">
                                <!-- Looks good! -->
                            </div>
                            <div class="invalid-feedback">
                                <span id="invalidHoraInicio" ></span>
                            </div>
                        </div><br>


                        <div class="input-group">
                            <span class="input-group-text">Hora Entrega</span>
                            <select class="form-select  calendario" id="horaFim" name="horaFim" required>
                              <!-- Gera opções de 00 a 23 -->
                              <% for(let i = 8; i < 24; i++) { %>
                                <option value="<%= i %>"><%= i.toString().padStart(2, '0')+':00' %></option>
                              <% } %>
                            </select>
                            <div class="valid-feedback">
                                <!-- Looks good! -->
                            </div>
                            <div class="invalid-feedback">
                                <span id="invalidHoraFim" ></span>
                            </div>
                        </div><br>

                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <span class="text-danger"> * </span>
                            <input class="form-control" id="cpf" type="text" name="cpf" minlength="14" maxlength="14" required>
                            <div class="valid-feedback">
                                <!-- Looks good! -->
                            </div>
                            <div class="invalid-feedback">
                                <span id="invalidCPF" ></span>
                            </div>
                        </div>

                    

                        
                    </div>
                    <div class="d-flex justify-content-center" style="margin: 0.5rem;">
                        <button class="btn btn-secondary me-3" type="button" onclick="history.back()">Voltar</button>
                        <input class="btn btn-primary" id="botao" type="submit" value="Próximo">
                    </div>
                </div>

                <!-- Card da imagem reboque -->
                <div class="card card-reserva">
                    <img src="../../../<%=reboque.foto%>" class="card-img-top" alt="...">
                    <div class="card-body">

                        <div class="titulo">
                            <h3>
                                <a href="/reserva/cliente/periodo/<%=reboque.placa%>">
                                    <div class="ano"><%=reboque.anoFabricacao%></div>
                                    <div class="primeiro-nome"><%=reboque.modelo%></div>
                                    <div  class="ultimo-nome">Carga</div>
                                </a>
                            </h3>
                        </div>





                        <div class="row justify-content-between">

                            <div class="col-6">
                                <div class="truncate float-start">
                                    <p class="info-cost2 lato-black"><%='R$ '+reboque.valorDiaria%>,00</p>
                                </div>
                            </div>


                            <div class="col-6">
                                <div class="truncate float-end">
                                    <div class="row justify-content-evenly">
                                        
                                        <div class="col-4">
                                            <div class=" float-start">
                                                <a  href="https://wa.me/5553997032373"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" width="30" height="30"></a> <!-- Coloque seu número de WhatsApp -->
                                            </div>
                                        </div>
        
                                        <div class="col-4">
                                            <div class=" ms-3 float-end">
                                                <a  href="https://maps.app.goo.gl/bM2d9YG7UpkvGRBQ7" ><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                                    </svg></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        

                        <div class="opicionais">
                            
                            <div class="box-opicionais-home">
                                <div>
                                    <img class="icon-card-index" src="/img/icons/icon-trailer-medidas.png" width="22" height="22">
                                </div>
                                <div class="text-none grey-text10 mt-1 ms-1">
                                    <%=reboque.comprimento%> X <%=reboque.largura%> X <%=reboque.altura%>
                                </div>
                            </div>
                            
                            <div class="box-opicionais-home">
                                <div>
                                    <img class="icon-card-index" src="/img/icons/icon-trailer-peso.png" width="20" height="20" >
                                </div>
                                <div class="text-none grey-text10 mt-1 ms-1">
                                    <%=reboque.pesoBruto%> Kg
                                </div>
                            </div>
                            
                            <div class="box-opicionais-home">
                                <div>
                                    <img class="icon-card-index" src="/img/icons/icon-trailer-open.png" width="22" height="22" >
                                </div>
                                <div class="text-none grey-text10 mt-1 ms-1">
                                    Aberto
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

            <input type="hidden" name="reboquePlaca" value="<%=reboque.placa%>" >
            <input type="hidden" id="dataInicio" name="dataInicio">
            <input type="hidden" id="dataFim" name="dataFim">
            <input type="hidden" id="formaPagamento" name="formaPagamento" value="DINHEIRO">

        </form>
    </div>
    <%-include('../partials/footer.ejs')%>
</body>
</html>